{% extends 'base.html' %}

{% block page_title %}
    <title>mingggkeee Home</title>
{% endblock page_title %}

{% block main_content %}

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>Subway <span id="js-rotating">LINE, SERVICES, USAGE</span></h1>
                            <p class="p-heading p-large">수도권 지하철,전철의 2020년의<br>역별 승하차량을 조회할 수 있습니다.</p>
                            <a class="btn-solid-lg page-scroll" href="http://localhost:8000/subwayusage">이동하기</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
{% endblock main_content %}
