{% extends 'base.html' %}

{% block page_title %}
    <title>SubwayUsage Home</title>
{% endblock page_title %}

{% block main_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Subway_Usage</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
            
            <div class="card-body">
                <form class="form-header" action="" method="POST">
                    <input class="au-input" type="text" id="station_name" placeholder="Input Station Name..." />                                        
                    <button class="au-btn--submit" type="button" id="btn_search">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </form>
                <br>
                <div class="table-responsive m-b-30">
                    <table id="usage_table" class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Line</th>
                                <th>Station</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
                <strong class="card-title" id="station_line">Line Name</strong>
                <strong class="card-title" id="station_title">Station Name</strong>
            </div>
            <div class="card-body">
                
                    <div class="top-campaign-x">
                        <h3 class="title-3 m-b-30">1월 상세 정보</h3>
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-earning" id="station_detail_table">
                                
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            평균승차량 (Monthly)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">12322명</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            평균하차량 (Monthly)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">22222명</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">혼잡도
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">60%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            몇호선? 무슨역?</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1호선 청량리역</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">승차량 Overview</h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="pass_on_board_chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">무임승차, 유임승차 비율</h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id=""></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> 무임승차
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> 유임승차
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">하차량 Overview</h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="dise_on_board_chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">무임하차, 유임하차 비율</h6>
                <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id=""></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> 무임하차
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> 유임하차
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



        <!-- Approach
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
            </div>
            <div class="card-body">
                <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                    CSS bloat and poor page performance. Custom CSS classes are used to create
                    custom components and custom utility classes.</p>
                <p class="mb-0">Before working with this theme, you should become familiar with the
                    Bootstrap framework, especially the utility classes.</p>
            </div>
        </div>-->

    </div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock main_content %}

{% block custom_js %}
<script type='text/javascript'>
$(function() {
    list_td_names = ['SubLine', 'SubStation'];
    list_tr_html_str = `<tr>
                        <td></td>
                        <td></td>
                    </tr>`;

    $('#btn_search').on('click', function(event) {
        var key = $('#station_name').val();

        if (!key) {
            alert('검색어를 입력하세요')
            return;
        }

        $.ajax({
            "url": '/subwayusage/search/' + key,
            'method': 'GET',
            'success': function(data, status, xhr) {

                $('#usage_table tbody').empty()
                for (var idx = 0; idx < data.length; idx++) {
                    var tr = $(list_tr_html_str);
                    tr.attr('data-substation', data[idx].SubStation)
                    tr.attr('data-subline', data[idx].SubLine)
                    var tds = tr.find('td');
                    tds.each(function(i, td){

                        $(td).text(data[idx][list_td_names[i]])
                        
                    });
                    $('#usage_table tbody').append(tr);
                }
            },
            'error': function(xhr, status, err) {
                alert(err);
            }
        });
    });

    // 검색된 목록 테이블에서 행을 클릭하면 클릭된 항목을 상세보기 처리
    detail_td_names = ['날짜', '호선', '역명', '유임승차', '무임승차', '승차인원', '유임하차', '무임하차', '하차인원'];
    detail_tr_html_str = `<tr>
                            <td></td>
                            <td></td>
                          </tr>`

    $('#usage_table').on('click', 'tr', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var station = $(this).attr('data-substation');
        var line = $(this).attr('data-subline');
        // alert(station);

        $.ajax({
            'url': '/subwayusage/detail/' + station,
            'method': 'GET',
            'success': function(data, status, xhr) {

                $('#station_line').text(data[0].호선);
                $('#station_title').text(data[0].역명);
                $('#station_detail_table').empty();
                for (var idx=0; idx < detail_td_names.length; idx++){
                    var tr = $(detail_tr_html_str);

                    tds = tr.find('td');
                    $(tds[0]).text(detail_td_names[idx]);
                    $(tds[1]).text(data[0][detail_td_names[idx]]);
                    $('#station_detail_table').append(tr);

                    show_chart(data);
                }
            },
            'error': function(xhr, status, err) {
                alert(err);
            }
        })
    });

    function show_chart(data) {
        var labels = []
        var pass_person_list = []
        var dise_person_list = []

        for (var idx=0; idx < 12; idx++){
            labels.push(data[idx][detail_td_names[0]]);   // 월별 목록
            pass_person_list.push(data[idx][detail_td_names[5]]); // 승차인원 목록
            dise_person_list.push(data[idx][detail_td_names[8]]); // 하차인원 목록
        }
        
        show_pass_person_chart(labels, [pass_person_list]);
        show_dise_person_chart(labels, [dise_person_list]);
    }

    var bar_chart1 = null;
    function show_pass_person_chart(labels, datasets) {
        //line chart
        var ctx = $('#pass_on_board_chart'); // 그래프가 표시될 HTML 요소
        if (ctx) {
            ctx.height = 2000;

            if (bar_chart1) {
                bar_chart1.destroy();
            }

            bar_chart1 = new Chart(ctx, {
                type: 'bar',
                defaultFontFamily: 'Poppins',
                data: {
                labels: labels, // x축 데이터
                datasets: [
                    {
                    label: "승차인원",
                    data: datasets[0], // y축 데이터
                    borderColor: "rgba(0, 123, 255, 0.9)",
                    borderWidth: "0",
                    backgroundColor: "rgba(0, 123, 255, 0.5)",
                    fontFamily: "Poppins"
                    },
                ]
                },
                options: {
                legend: {
                    position: 'top',
                    labels: {
                    fontFamily: 'Poppins'
                    }

                },
                scales: {
                    xAxes: [{
                    ticks: {
                        fontFamily: "Poppins"

                    }
                    }],
                    yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontFamily: "Poppins"
                    }
                    }]
                }
                }
            });
        }
    }

    var bar_chart2 = null;
    function show_dise_person_chart(labels, datasets) {

        var ctx = $('#dise_on_board_chart'); // 그래프가 표시될 HTML 요소
        if (ctx) {
            ctx.height = 2000;

            if (bar_chart2) {
                bar_chart2.destroy();
            }
            
            bar_chart2 = new Chart(ctx, {
                type: 'bar',
                defaultFontFamily: 'Poppins',
                data: {
                labels: labels, // x축 데이터
                datasets: [
                    {
                    label: "하차인원",
                    data: datasets[0], // y축 데이터
                    borderColor: "rgba(0, 123, 255, 0.9)",
                    borderWidth: "0",
                    backgroundColor: "rgba(0, 123, 255, 0.5)",
                    fontFamily: "Poppins"
                    },
                ]
                },
                options: {
                legend: {
                    position: 'top',
                    labels: {
                    fontFamily: 'Poppins'
                    }

                },
                scales: {
                    xAxes: [{
                    ticks: {
                        fontFamily: "Poppins"

                    }
                    }],
                    yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontFamily: "Poppins"
                    }
                    }]
                }
                }
            });            
        }

    }

  

});
</script>
{% endblock custom_js %}