{% extends 'base.html' %}

{% block page_title %}
    <title>SubwayUsage Home</title>
{% endblock page_title %}

{% block main_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Subway_Usage</h1>
    <a href="http://localhost:8000/review/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Report(평가하기)</a>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
            
            <div class="card-body">
                <form class="form-header" action="" method="POST">
                    <input class="au-input" type="text" id="station_name" placeholder="Input Station Name..." />                                        
                    <button class="au-btn--submit" type="button" id="btn_search">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </form>
                <br>
                <div class="table-responsive m-b-30">
                    <table id="usage_table" class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Line</th>
                                <th>Station</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
                <strong class="card-title" id="station_line">Line Name</strong>
                <strong class="card-title" id="station_title">Station Name</strong>
            </div>
            <div class="card-body">
                
                    <div class="top-campaign-x">
                        <h3 class="title-3 m-b-30">1월 상세 정보</h3>
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-earning" id="station_detail_table">
                                
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>

<!-- Content Row -->
<br><br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card border-left-primary shadow h-100 py-2">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">승차량 Overview</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                    <canvas id="pass_on_board_chart" height="150"></canvas>
                
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card border-left-primary shadow h-100 py-2">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">무임승차, 유임승차 비율</h6>
               
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                    <canvas id="pass_dise_pie_chart1" width="300" height="300"></canvas>
               
                
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<br><br>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card border-left-primary shadow h-100 py-2">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">하차량 Overview</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
               
                    <canvas id="dise_on_board_chart" height="150"></canvas>
                
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card border-left-primary shadow h-100 py-2">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">무임하차, 유임하차 비율</h6>
               
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                    <canvas id="pass_dise_pie_chart2" width="300" height="300"></canvas>
                
                
            </div>
        </div>
    </div>
</div>



    </div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock main_content %}

{% block custom_js %}
<script type='text/javascript'>
$(function() {
    list_td_names = ['SubLine', 'SubStation'];
    list_tr_html_str = `<tr>
                        <td></td>
                        <td></td>
                    </tr>`;

    $('#btn_search').on('click', function(event) {
        var key = $('#station_name').val();

        if (!key) {
            alert('검색어를 입력하세요')
            return;
        }

        $.ajax({
            "url": '/subwayusage/search/' + key,
            'method': 'GET',
            'success': function(data, status, xhr) {

                $('#usage_table tbody').empty()
                for (var idx = 0; idx < data.length; idx++) {
                    var tr = $(list_tr_html_str);
                    tr.attr('data-substation', data[idx].SubStation)
                    tr.attr('data-subline', data[idx].SubLine)
                    var tds = tr.find('td');
                    tds.each(function(i, td){

                        $(td).text(data[idx][list_td_names[i]])
                        
                    });
                    $('#usage_table tbody').append(tr);
                }
            },
            'error': function(xhr, status, err) {
                alert(err);
            }
        });
    });

    // 검색된 목록 테이블에서 행을 클릭하면 클릭된 항목을 상세보기 처리
    detail_td_names = ['날짜', '호선', '역명', '유임승차', '무임승차', '승차인원', '유임하차', '무임하차', '하차인원'];
    detail_tr_html_str = `<tr>
                            <td></td>
                            <td></td>
                          </tr>`

    $('#usage_table').on('click', 'tr', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var station = $(this).attr('data-substation');
        var line = $(this).attr('data-subline');
        // alert(station);

        $.ajax({
            'url': '/subwayusage/detail/' + station,
            'method': 'GET',
            'success': function(data, status, xhr) {
                var detail = []
                $('#station_line').text(data[0].호선);
                $('#station_title').text(data[0].역명);
                $('#station_detail_table').empty();

                for (var idx=1; idx < detail_td_names.length; idx++){
                    var tr = $(detail_tr_html_str);

                    tds = tr.find('td');
                    $(tds[0]).text(detail_td_names[idx]);
                    $(tds[1]).text(data[0][detail_td_names[idx]]);
                    
                    $('#station_detail_table').append(tr);

                    show_chart(data);
                }
            },
            'error': function(xhr, status, err) {
                alert(err);
            }
        })
    });

    function show_chart(data) {
        var labels = []
        var labels2 = ['유임승차', '무임승차']
        var labels3 = ['유임하차', '무임하차']
        var pass_person_list = []
        var dise_person_list = []
        var pass_pay = []
        var pass_pay_sum = 0
        var pass_free = []
        var pass_free_sum = 0
        var dise_pay = []
        var dise_pay_sum = 0
        var dise_free = []
        var dise_free_sum = 0

        for (var idx=0; idx < 12; idx++){
            labels.push(data[idx][detail_td_names[0]]);   // 월별 목록
            pass_person_list.push(data[idx][detail_td_names[5]]); // 승차인원 목록
            dise_person_list.push(data[idx][detail_td_names[8]]); // 하차인원 목록
        }
        for (var idx=0; idx < 12; idx++){
            pass_pay_sum += data[idx][detail_td_names[3]];
            pass_free_sum += data[idx][detail_td_names[4]];
            dise_pay_sum += data[idx][detail_td_names[6]];
            dise_free_sum += data[idx][detail_td_names[7]];
        }

        pass_pay.push(pass_pay_sum);
        pass_free.push(pass_free_sum);
        dise_pay.push(dise_pay_sum);
        dise_free.push(dise_free_sum);

        show_pass_person_chart(labels, [pass_person_list]);
        show_dise_person_chart(labels, [dise_person_list]);
        show_pie_chart1(labels2, [pass_pay], [pass_free]);
        show_pie_chart2(labels3, [dise_pay], [dise_free]);
    }

    var line_chart1 = null;
    function show_pass_person_chart(labels, datasets) {
        //line chart
        var ctx = $('#pass_on_board_chart'); // 그래프가 표시될 HTML 요소
        if (ctx) {
            ctx.height = 150;

            if (line_chart1) {
                line_chart1.destroy();
            }

            line_chart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: labels, // x축 데이터
                type: 'line',
                defaultFontFamily: 'Poppins',
                datasets: [{
                    label: "승차량",
                    data: datasets[0], // y축 데이터
                    backgroundColor: 'transparent',
                    borderColor: 'rgba(220,53,69,0.75)',
                    borderWidth: 3,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: 'rgba(220,53,69,0.75)',
                }]
                },
                options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#000',
                    bodyFontColor: '#000',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Poppins',
                    bodyFontFamily: 'Poppins',
                    cornerRadius: 3,
                    intersect: false,
                },
                legend: {
                    display: false,
                    labels: {
                    usePointStyle: true,
                    fontFamily: 'Poppins',
                    },
                },
                scales: {
                    xAxes: [{
                    display: true,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: false,
                        labelString: 'Month'
                    },
                    ticks: {
                        fontFamily: "Poppins"
                    }
                    }],
                    yAxes: [{
                    display: true,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        
                        fontFamily: "Poppins"

                    },
                    ticks: {
                        fontFamily: "Poppins",
                        min: 0,
                    }
                    }]
                },
                
                }
            });
        }
    }

    var line_chart2 = null;
    function show_dise_person_chart(labels, datasets) {

        var ctx = $('#dise_on_board_chart'); // 그래프가 표시될 HTML 요소
        if (ctx) {
            ctx.height = 150;

            if (line_chart2) {
                line_chart2.destroy();
            }
            
            line_chart2 = new Chart(ctx, {
                type: 'line',
                data: {
                labels: labels, // x축 데이터
                type: 'line',
                defaultFontFamily: 'Poppins',
                datasets: [{
                    label: "하차량",
                    data: datasets[0], // y축 데이터
                    backgroundColor: 'transparent',
                    borderColor: 'rgba(220,53,69,0.75)',
                    borderWidth: 3,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: 'rgba(220,53,69,0.75)',
                }]
                },
                options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#000',
                    bodyFontColor: '#000',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Poppins',
                    bodyFontFamily: 'Poppins',
                    cornerRadius: 3,
                    intersect: false,
                },
                legend: {
                    display: false,
                    labels: {
                    usePointStyle: true,
                    fontFamily: 'Poppins',
                    },
                },
                scales: {
                    xAxes: [{
                    display: true,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: false,
                        labelString: 'Month'
                    },
                    ticks: {
                        fontFamily: "Poppins"
                    }
                    }],
                    yAxes: [{
                    display: true,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        
                        fontFamily: "Poppins"

                    },
                    ticks: {
                        fontFamily: "Poppins",
                        min: 0,
                    }
                    }]
                },
                
                }
            });            
        }

    }

    var pie_chart1 = null;
    function show_pie_chart1(labels, datasets1, datasets2){

        var ctx = $('#pass_dise_pie_chart1');
        if (ctx) {

            ctx.width = 1000;
            ctx.height = 1000;

            if (pie_chart1) {
                pie_chart1.destroy();
            }

            pie_chart1 = new Chart(ctx, {
                type: 'pie',
                defaultFontFamily: 'Poppins',
                data: {
                labels: labels,
                datasets: [
                    {
                    label: "비율",
                    data: [datasets1, datasets2], // 파이그래프 표시될 데이터
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)'
                    ],
                    }
                ]
                },

                options : {
                    responsive : true,
                    maintainAspectRatio: true,
                    plugins: {
                        labels: {
                            render: 'percentage',
                            fontColor: ['white', 'white'],
                            precision: 2
                        }
                    }
                    
                }
            });
        }

    }

    var pie_chart2 = null;
    function show_pie_chart2(labels, datasets1, datasets2){

        var ctx = $('#pass_dise_pie_chart2');
        if (ctx) {
            if (pie_chart2) {
                pie_chart2.destroy();
            }

            pie_chart2 = new Chart(ctx, {
                type: 'pie',
                defaultFontFamily: 'Poppins',
                data: {
                labels: labels,
                datasets: [
                    {
                    label: "비율",
                    data: [datasets1, datasets2], // 파이그래프 표시될 데이터
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)'
                    ],
                    }
                ]
                },

                options : {
                    responsive : true,
                    maintainAspectRatio: true,
                    plugins: {
                        labels: {
                            render: 'percentage',
                            fontColor: ['white', 'white'],
                            precision: 2
                        }
                    }
                    
                }
            });
        }

    }

    
});
</script>
{% endblock custom_js %}